/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

h1, h2, h3, h4, h5 {
	font-family: 'Tinos', serif;
	color: #000;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #635f5c;
	font-size: 0.9em;
}

span {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.81em;
	font-weight: 700;
}